/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #d16ba5, #86a8e7, #5ffbf1);
    padding: 20px;
}

/* Header & Navbar */
header {
    background-color: #2c3e50;
    padding: 15px 0;
    margin-bottom: 30px;
    border-radius: 8px;
}

nav {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 5px;
    transition: background-0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #1abc9c;
}

/* Skills Section */
.skills-section {
    max-width: 800px;
    margin: auto;
}

.skills-section h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #2c3e50;
}

.skills-section p {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    line-height: 1.6;
}

/* Skill Boxes */
.skill-box {
    background: #fff;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
}

.skill-box:hover {
    transform: translateY(-5px);
}

.skill-box h3 {
    margin-bottom: 10px;
    color: #1abc9c;
}

.skill-box ul {
    list-style-type: square;
    padding-left: 20px;
}

.skill-box li {
    margin: 6px 0;
    color: #333;
}